<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.3.min.css" type="text/css">
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.3.min.js"></script>
</head>
<body>
    <div>
        <h1>Pregunta 1</h1>
        <p>Descripción de la pregunta 1.</p>
        {{ script1|safe }}
        {{ div1|safe }}
    </div>
    <div>
        <h1>Pregunta 2</h1>
        <p>Descripción de la pregunta 2.</p>
        {{ script2|safe }}
        {{ div2|safe }}
    </div>
    <div>
        <h1>Pregunta 3</h1>
        <p>Descripción de la pregunta 3.</p>
        {{ script3|safe }}
        {{ div3|safe }}
    </div>
    <div>
        <h1>Pregunta 4</h1>
        <p>Descripción de la pregunta 4.</p>
        {{ script4|safe }}
        {{ div4|safe }}
    </div>
    <div>
        <h1>Pregunta 5</h1>
        <p>Descripción de la pregunta 5.</p>
        {{ script5|safe }}
        {{ div5|safe }}
    </div>
</body>
</html>
